* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
  margin-bottom: 50px;
  height: 75px;
}
header img {
  margin: 0 20px;
  width: 200px;
  height: auto;
}
header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0;
}
header .menu .menu-item {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  display: block;
}
header .menu .menu-item:hover {
  text-decoration: underline;
}

.main {
  padding: 20px;
  display: grid;
  grid-template-areas: "img text" "register register";
  grid-template-columns: 40% 55%;
  grid-template-rows: auto;
  max-width: 1200px;
  gap: 20px 5%;
  align-self: center;
}
.main .vertical-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 20px;
}
.main .image {
  grid-area: img;
  align-self: center;
}
.main .image img {
  max-width: 100%;
  height: auto;
}
.main .titled-block li {
  margin: 0 20px;
}
.main .side-blocks {
  grid-area: text;
}
.main .invitation {
  grid-area: register;
}
.main button {
  background-color: #35ad59;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
.main button:hover {
  background-color: #1b5a2e;
}

footer {
  width: 100%;
  height: 75px;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 25px;
  margin-top: 50px;
}